//- Block: money-input

extends field

block field-label
  label.field__header__label(for="money-input")
    | Сумма пополнения

block field-input
  .money-field__body
    input.money-field__body__input.js-form-unlock.js-check.js-money-amount(
      id="money-input"
      name="amount"
      type="text"
      pattern="^[0-9]+$"
      placeholder="0"
      tabindex="3"
      required)
    .money-field__body__tag.js-declension
      | рублей
