//- Block: phone-field

extends field

block field-label
  label.field__header__label(for="phone-code")
    | Номер телефона

block field-input
  .phone-field
    .phone-field__item
      .phone-field__item__county-code +7
    = "\n"
    .phone-field__item
      .phone-field__item__separator |
    = "\n"
    .phone-field__item
      input.phone-field__item__input.phone-field__item__input-code.js-mask(
        id="phone-code"
        type="text"
        pattern="[0-9]{3}"
        placeholder="919"
        autofocus
        required)
    = "\n"
    .phone-field__item
      .phone-field__item__separator |
    = "\n"
    .phone-field__item
      input.phone-field__item__input.phone-field__item__input-number.js-mask(
        id="phone-number"
        type="text"
        pattern="[0-9]{3}\-[0-9]{2}-[0-9]{2}"
        placeholder="479-02-05"
        required)
    = "\n"
    .phone-field__helper
